.header {
  background-color: white;
  height: 100px;
  padding: 0 40px;

  .left-header {
    float: left;

    .&__title {
      color: #333333;
      font-size: 20px;
      margin-top: 35px;
    }

    ul {
      color: #999999;
      font-size: 12px;
      margin-top: 15px;
      display: flex;

      li {
        margin-left: 5px;
      }
    }
  }

  .right-header {
    color: #38AEF0;
    border: solid 1px #38AEF0;
    height: 40px;
    padding: 28px 20px 0 20px;
    line-height: 40px;
    float: right;
  }
}
