.contents {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  border-top: solid 1px #eeeeee;
  padding: 46px 0 0 40px;
  margin-bottom: -46px;
  .message-content {
    margin-bottom: 40px;
    &__top {
      display: flex;
      &--name {
        color: #434A54;
        font-size: 16px;
        font-weight: bold;
      }
      &--date {
        padding-left: 10px;
        color: #999999;
        font-size: 12px;
        line-height: 24px;
      }
    }
    &__bottom {
      &--text {
        color: #434A54;
        font-weight: 14px;
        margin-top: 10px;
      }
    }
  }
}
