.form
  = form_for [@group, @message] do |f|
    = f.text_field :body, class: "form__message", placeholder: "type a message"
    .form__icon
      = fa_icon "image", class: "far"
    = f.submit "Send", class: "form__submit"
