.header
  .left-header
    .left-header__title
      sample
    %ul.left-header__members
      Members:
      %li
        seo
      %li
        neko
  .right-header
    .right-header__button
      = link_to "Edit", ""
