.header
  .left-header
    .left-header__title
      = @group.name
    .left-header__members
      Members:
      - @group.users.each do |user|
        = "#{user.name}"
  .right-header
    .right-header__button
      = link_to "Edit", edit_group_path(@group)
