.message
  .message__top
    .message__top--name
      = message.user.name
    .message__top--date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__bottom
    - if message.body.present?
      %p.message__bottom--text
        = message.body
    = image_tag(message.image.url, class: "message__bottom--image") if message.image.present?
