%ul.messages
  %li.message
    .message__top
      .message__top--name
        ryosukemaehira
      .message__top--date
        2016/10/02 06:27:07
    .message__bottom
      .message__bottom--text
        なるほど
  %li.message
    .message__top
      .message__top--name
        ryosukemaehira
      .message__top--date
        2016/10/02 06:27:14
    .message__bottom
      .message__bottom--text
        なるほど
