.message{ "data-message-id": message.id }
  .message__top
    .message__top--name
      = message.user.name
    .message__top--date
      = message.created_at.to_s(:simple_time)
  .message__bottom
    - if message.body.present?
      %p.message__bottom--text
        = message.body
    = image_tag(message.image.url, class: "message__bottom--image") if message.image.present?
