.contents
  .message-content
    .message-content__top
      .message-content__top--name
        ryosukemaehira
      .message-content__top--date
        2016/10/02 06:27:07
      .message-content__bottom
        .message-content__bottom--text
          なるほど
  .message-content
    .message-content__top
      .message-content__top--name
        ryosukemaehira
      .message-content__top--date
        2016/10/02 06:27:07
      .message-content__bottom
        .message-content__bottom--text
          なるほど
