.user
  %h3.user__name
    seo
  %ul.user__lists
    %li.user__lists--list
      %i.fas.fa-edit
    %li.user__lists--list
      %i.fas.fa-cog
.groups
  %ul.group
    %li.group__name
      サンプル
    %li.group__message
      よろしくお願いします
  %ul.group
    %li.group__name
      sample
    %li.group__message
      よろしくお願いします
