.header
  %h3.header__name
    seo
  %ul.header__lists
    %li.header__lists--list
      %i.fas.fa-edit
    %li.header__lists--list
      %i.fas.fa-cog
.groups
  .group
    .group__name
      サンプル
    .group__message
      よろしくお願いします
