.side-bar
  = render partial: "messages/side-bar"
.chat
  .header
    = render partial: "messages/header"
  .message
    = render partial: "messages/message"
  .form
    = render partial: "messages/form"
