.chat
  .side-bar
    = render partial: "messages/side-bar"
  .content
    .content-header
      = render partial: "messages/header"
    .content-messages
      = render @messages
    .content-bottom
      = render partial: "messages/form"
