@import "./reset";
@import "./variable";
@import "./color";

@import "font-awesome";

@import "chat/chat";
@import "side-bar/side-bar";

body {
  display: flex;
  .wrapper {
    width: 100%;
    position: relative;
  }
}
